/* 全局SCSS */
@import "colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

input[type="checkbox"] {
  accent-color: $red;
}

/* 移除 Chrome 和 Edge 的加減按鈕 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 移除 Firefox 的加減按鈕 */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* @import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap");*/
body {
  height: 100%;
  font-family: "Zen Old Mincho", Arial, sans-serif;
  background-image: url("/base/MainBG.png");
}

/* 滾動條 */
::-webkit-scrollbar {
  width: 8px;
}

/* 滾動條的背景 */
::-webkit-scrollbar-track {
  background: $gray;
  border-radius: 10px;
}

/* 滾動條本身 */
::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
  border: 1px solid $gray;
}

#app {
  color: $primary;
}

.page {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page_small {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text_hover {
  color: $primary;
  cursor: pointer;
  transition: color 0.2s ease;
  &:hover {
    color: $red;
  }
}

.black_cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $black3;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
